/* Start Global Values */
@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
  position: relative;
  background-color: var(--second-bg);
}

body::before {
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1000' height='10000' preserveAspectRatio='none' viewBox='0 0 1000 10000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1126%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='0' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='0' y='1440'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='0' y='2160'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='0' y='2880'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='0' y='3600'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='0' y='4320'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='0' y='5040'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='0' y='5760'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='0' y='6480'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='0' y='7200'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='0' y='7920'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='0' y='8640'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='0' y='9360'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='720' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='720' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='720' y='1440'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='720' y='2160'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='720' y='2880'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='720' y='3600'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='720' y='4320'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='720' y='5040'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='720' y='5760'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='720' y='6480'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='720' y='7200'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='720' y='7920'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='720' y='8640'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1133' x='720' y='9360'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1126'%3e%3crect width='1000' height='10000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1131'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1132'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1127'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1130'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1129'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1128'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1133'%3e%3cuse xlink:href='%23SvgjsPath1127' x='30' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='30' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='30' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='30' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='30' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='30' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1130' x='30' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='30' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1131' x='30' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='30' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='30' y='630' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='30' y='690' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='90' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1131' x='90' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1130' x='90' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='90' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='90' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='90' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='90' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1132' x='90' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='90' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1132' x='90' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1130' x='90' y='630' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='90' y='690' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='150' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='150' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='150' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='150' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='150' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='150' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1132' x='150' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='150' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='150' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1130' x='150' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='150' y='630' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='150' y='690' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1131' x='210' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='210' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='210' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='210' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1132' x='210' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='210' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='210' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1130' x='210' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='210' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='210' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='210' y='630' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='210' y='690' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='270' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='270' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='270' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1131' x='270' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='270' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='270' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='270' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='270' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='270' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='270' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='270' y='630' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='270' y='690' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1131' x='330' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='330' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='330' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='330' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='330' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='330' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='330' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='330' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='330' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='330' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='330' y='630' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1132' x='330' y='690' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='390' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='390' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1131' x='390' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='390' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1131' x='390' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='390' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='390' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='390' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='390' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1131' x='390' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1132' x='390' y='630' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1130' x='390' y='690' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1130' x='450' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='450' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='450' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='450' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='450' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='450' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1132' x='450' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1131' x='450' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='450' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1131' x='450' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='450' y='630' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='450' y='690' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='510' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='510' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1132' x='510' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='510' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='510' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1131' x='510' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='510' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1130' x='510' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1132' x='510' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1131' x='510' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='510' y='630' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1130' x='510' y='690' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='570' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='570' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='570' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='570' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='570' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='570' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1132' x='570' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='570' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1131' x='570' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='570' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='570' y='630' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1130' x='570' y='690' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='630' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='630' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='630' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1131' x='630' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='630' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='630' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1130' x='630' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='630' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='630' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='630' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='630' y='630' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='630' y='690' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1130' x='690' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='690' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1131' x='690' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1131' x='690' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='690' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1130' x='690' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='690' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='690' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='690' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='690' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='690' y='630' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='690' y='690' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.09;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --primary-bg: #0e1218;
  --second-bg: #f9f9f9;
  --primary-color: #6495ed;
  --main-color: #ffffff;
  --main-transition: 0.3s;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* End Global Rules */
/* Start Loading */
.loading {
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  top: 0;
  z-index: 60;
  animation: opacity 0s ease 0.8s;
  -webkit-animation: opacity 0s ease 0.8s;
  animation-fill-mode: forwards;
}

.loading::before {
  content: "";
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  z-index: 70;
  top: 0;
  animation: animate 0.8s ease;
  -webkit-animation: animate 0.8s ease;
}

@keyframes animate {
  0% {
    width: 0;
  }
  50%,
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}

@keyframes opacity {
  to {
    opacity: 0;
  }
}
/* Start Landing */
.main-container {
  animation: appear 0.3s 1s;
  -webkit-animation: appear 0.3s 1s;
  animation-fill-mode: forwards;
}

.landing {
  padding: 50px 50px;
  height: 40vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1005%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c436.461C93.321%2c460.026%2c200.363%2c489.719%2c282.876%2c440.164C365.478%2c390.555%2c378.101%2c278.411%2c412.822%2c188.53C445.432%2c104.116%2c486.226%2c21.298%2c479.548%2c-68.949C472.607%2c-162.748%2c449.314%2c-267.356%2c374.839%2c-324.8C301.619%2c-381.276%2c193.041%2c-329.342%2c105.06%2c-357.802C13.141%2c-387.535%2c-50.581%2c-514.573%2c-144.718%2c-492.863C-237.315%2c-471.509%2c-254.061%2c-344.276%2c-304.044%2c-263.456C-345.433%2c-196.534%2c-389.096%2c-134.379%2c-412.824%2c-59.355C-440.433%2c27.939%2c-497.182%2c126.711%2c-452.765%2c206.771C-407.82%2c287.782%2c-286.504%2c275.337%2c-203.884%2c317.25C-132.225%2c353.603%2c-77.908%2c416.788%2c0%2c436.461' fill='%231755c4'%3e%3c/path%3e%3cpath d='M1440 1254.703C1568.33 1283.313 1712.826 1221.806 1805.165 1128.2069999999999 1893.193 1038.979 1884.209 897.887 1912.484 775.7760000000001 1934.94 678.795 1965.6 584.971 1953.842 486.121 1941.879 385.546 1895.844 296.643 1845.067 209.007 1783.662 103.029 1745.954-47.54899999999998 1627.216-77.60000000000002 1507.65-107.86099999999999 1413.92 33.458999999999946 1296.147 70.08300000000003 1181.156 105.84199999999998 1027.455 43.190000000000055 947.948 133.635 868.545 223.961 946.255 367.51099999999997 929.943 486.665 913.79 604.6610000000001 801.892 720.498 852.874 828.131 903.979 936.024 1069.777 915.619 1166.3609999999999 985.7909999999999 1271.961 1062.5140000000001 1312.599 1226.3 1440 1254.703' fill='%23ceddf9'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1005'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: 100% 100%;
  position: relative;
  z-index: 0;
}

.landing::before {
  content: "";
  position: absolute;
  background-color: rgb(14, 18, 24, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.landing .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing img {
  width: 125px;
}

.landing .container h1 {
  color: var(--main-color);
  margin: 10px 0 5px;
  font-size: 30px;
}

.landing .container p {
  color: var(--second-bg);
  margin-bottom: 10px;
  font-size: 15px;
  opacity: 0.7;
}

.landing .container .links {
  margin-top: 5px;
}

.landing .container a {
  color: #f9f9f9;
  border: 2px var(--primary-color) solid;
  padding: 2px 7px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-size: 12px;
}

.landing .container a:hover {
  background-color: var(--primary-color);
}
/* End Landing */
/* Start Statistics */
.statistics {
  position: absolute;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 1px 1px 25px rgb(0, 0, 0, 0.1), -1px -1px 25px rgb(0, 0, 0, 0.1);
}

.statistics .container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 850px;
}

.statistics .container div {
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  width: 100%;
  position: relative;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.statistics .container div:hover {
  background-color: var(--second-bg);
  cursor: default;
}

.statistics .container div:not(:first-child):before {
  content: "";
  position: absolute;
  background-color: var(--second-bg);
  width: 5px;
  height: 100%;
  right: 0;
}

.statistics .container .sites-nums {
  border-radius: 0 15px 15px 0;
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  -ms-border-radius: 0 15px 15px 0;
  -o-border-radius: 0 15px 15px 0;
}

.statistics .container .leaders-nums {
  border-radius: 15px 0 0 15px;
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  -ms-border-radius: 15px 0 0 15px;
  -o-border-radius: 15px 0 0 15px;
}

.statistics .container i {
  color: var(--primary-color);
  font-size: 25px;
  margin-bottom: 5px;
}

.statistics .container span {
  color: var(--primary-bg);
  font-size: 12px;
  opacity: 0.8;
}

.statistics .container h2 {
  color: var(--primary-bg);
  font-size: 20px;
}

@media (max-width: 991px) {
  .landing {
    padding: 50px 0 50px;
    height: 30vh;
  }
  .landing .container {
    width: 750px;
    margin-top: -20px;
  }
  .landing img {
    width: 100px;
  }
  .statistics {
    position: absolute;
    top: 35vh;
    width: 650px;
  }
  .statistics .container {
    width: 650px;
  }
}

@media (max-width: 767px) {
  .landing {
    padding: 50px 0 50px;
    height: 70vh;
  }
  .landing .container {
    top: 70vh;
    width: 375px;
    margin-top: 50px;
  }
  .landing img {
    width: 100px;
  }
  .statistics {
    position: absolute;
    top: 550px;
    width: 250px;
  }
  .statistics .container {
    display: grid;
    grid-template-columns: repeat(1, auto);
    width: 250px;
  }
  .statistics .container .sites-nums {
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
  }

  .statistics .container .leaders-nums {
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -ms-border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px;
  }
}
/* End Statistics */
/* Start Badges */
.upper-section {
  margin-top: 100px;
}

.upper-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upper-section .container .badges {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 700px;
}

.upper-section .container .badges img {
  width: 75px;
}

.upper-section .container .badges img:not(:first-child) {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.upper-section .container .notes {
  margin-top: 25px;
  background-color: var(--main-color);
  position: relative;
  width: 550px;
  height: 40px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  box-shadow: 1px 1px 25px rgb(0, 0, 0, 0.03), -1px -1px 25px rgb(0, 0, 0, 0.03);
  overflow: hidden;
}

.upper-section .container .notes p {
  position: absolute;
  left: -53%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  animation: news-bar 8s linear infinite;
  -webkit-animation: news-bar 8s linear infinite;
  animation-fill-mode: forwards;
  width: 625px;
}

.upper-section .container .notes p i {
  margin: 0 10px;
  color: var(--primary-color);
}

.upper-section .container .notes p i:last-child {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

@keyframes news-bar {
  to {
    left: 153%;
  }
}

@media (max-width: 767px) {
  .upper-section {
    margin-top: 250px;
  }
  .upper-section .container {
    width: 375px;
  }
  .upper-section .container .badges {
    width: 350px;
  }
  .upper-section .container .badges img {
    width: 40px;
  }
  .upper-section .container .notes {
    width: 350px;
  }
}

/* End Badges */
/* Start Programming Lines */
.sites-section {
  margin: 0 0 100px !important;
}

.sites-section .container .section-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-gap: 25px;
  justify-items: center;
}

.secondary-section-header {
  width: 100%;
}

.sites-section .container .section-grid .sites-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 200px);
  justify-items: center;
  grid-gap: 50px;
}

.secondary-section-header {
  margin: 25px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.secondary-section-header a {
  font-size: 12.5px;
  background-color: #ededed;
  color: var(--primary-bg);
  padding: 7px 7px 7px 7px;
  font-weight: 600;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.secondary-section-header a:hover {
  padding: 7px 7px 7px 25px;
  color: var(--main-color);
  background-color: var(--primary-color);
}

.secondary-section-header a::before {
  color: var(--main-color);
  content: "\f060";
  position: absolute;
  font-size: 10px;
  top: 55%;
  left: 15px;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  opacity: 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition-delay: -0.1s;
}

.secondary-section-header a:hover::before {
  opacity: 1;
  transition: var(--main-transition) 0.1s;
  -webkit-transition: var(--main-transition) 0.1s;
  -moz-transition: var(--main-transition) 0.1s;
  -ms-transition: var(--main-transition) 0.1s;
  -o-transition: var(--main-transition) 0.1s;
}

.section-header h2 {
  font-size: 50px;
  color: #d0d0d0;
  margin: 50px 0 0 0;
}

.secondary-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0 0;
}

.secondary-section-header h2 {
  font-size: 20px;
  margin: 0 0 15px 0;
  font-weight: 500;
  position: relative;
}

.secondary-section-header h2::before {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  width: 2px;
  height: 25px;
  top: 50%;
  right: -7px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.sites-section .container .section-grid .sites-grid .sites-container:hover {
  box-shadow: 1px 1px 25px rgb(0, 0, 0, 0.03), -1px -1px 25px rgb(0, 0, 0, 0.03);
}

.sites-section .container .section-grid .sites-grid .site-container {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  height: 100%;
  position: relative;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  padding: 25px 5px;
  box-shadow: 1px 1px 25px rgb(0, 0, 0, 0.01), -1px -1px 25px rgb(0, 0, 0, 0.01);
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  width: 100%;
  position: relative;
  z-index: 0;
}

.sites-section .container .section-grid .sites-grid .site-container h3 {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -17px;
  font-size: 20px;
  color: var(--primary-bg);
  background-color: var(--second-bg);
  padding: 5px 7px;
  border-radius: 15px 15px 0 0;
  margin-top: 7px;
  font-weight: 400;
  transition: var(--main-transition) 0.1s;
  -webkit-transition: var(--main-transition) 0.1s;
  -moz-transition: var(--main-transition) 0.1s;
  -ms-transition: var(--main-transition) 0.1s;
  -o-transition: var(--main-transition) 0.1s;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
  z-index: 2;
}

.sites-section .container .section-grid .sites-grid h3 a {
  color: var(--primary-bg);
  transition: var(--main-transition) 0.1s;
  -webkit-transition: var(--main-transition) 0.1s;
  -moz-transition: var(--main-transition) 0.1s;
  -ms-transition: var(--main-transition) 0.1s;
  -o-transition: var(--main-transition) 0.1s;
}

.sites-section .container .section-grid .sites-grid .site-container:hover h3 {
  background-color: var(--primary-color);
}

.sites-section .container .section-grid .sites-grid .site-container:hover h3 a {
  color: var(--main-color);
}

.sites-section .container .section-grid .sites-grid .site-container .site-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to top right,
    #d8e8f2,
    #e4edf6,
    #eff2f9,
    #f8f8fc,
    #ffffff
  );
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: var(--main-transition) ease;
  -webkit-transition: var(--main-transition) ease;
  -moz-transition: var(--main-transition) ease;
  -ms-transition: var(--main-transition) ease;
  -o-transition: var(--main-transition) ease;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 1;
}

.sites-section
  .container
  .section-grid
  .sites-grid
  .site-container:hover
  .site-icon {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.sites-section .container .section-grid .sites-grid .site-icon img {
  width: 80px;
  height: 80px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.sites-section
  .container
  .section-grid
  .sites-grid
  .site-container:hover
  .site-icon
  img {
  height: 50px;
  width: 50px;
}

.sites-section .container .section-grid .sites-grid .site-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.sites-section
  .container
  .section-grid
  .sites-grid
  .site-container:hover
  .site-details {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.sites-section
  .container
  .section-grid
  .sites-grid
  .site-container
  .site-details
  span {
  background-color: var(--second-bg);
  padding: 5px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  font-size: 12px;
  margin-bottom: 7px;
}

.sites-section
  .container
  .section-grid
  .sites-grid
  .site-container
  .site-details
  span {
  margin-right: 10px;
}

.sites-section .container .section-grid .sites-grid .site-details span {
  font-size: 15px;
  color: rgb(14, 18, 24, 0.7);
  line-height: 20px;
}

.site-tag .tag-container {
  position: absolute;
  z-index: 50;
  top: calc(100% + 35px);
  left: calc(50% + 25px);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-tag .prog-tag {
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 50;
  color: var(--main-color);
  background-color: #d2686e;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(100% + 20px);
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.site-tag .graphic-tag,
.site-tag .prog2-tag {
  width: fit-content;
  height: fit-content;
  transform: translate(-50%, -50%);
  z-index: 50;
  color: var(--main-color);
  background-color: #d2686e;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-tag .graphic-tag {
  background-color: var(--primary-color);
}

.site-tag .prog-tag span,
.site-tag .graphic-tag span,
.site-tag .prog2-tag span {
  font-size: 10px;
}

.site-tag .prog-tag span:last-child,
.site-tag .graphic-tag span:last-child,
.site-tag .prog2-tag span:last-child {
  margin-right: 5px;
}

@media (min-width: 1200px) {
  .sites-section .container .section-grid .sites-grid h3 {
    bottom: -15px;
  }
}

@media (max-width: 1199px) {
  .sites-section .container .section-grid .sites-grid h3 {
    font-size: 15px;
    bottom: -13px;
  }
}

@media (max-width: 991px) {
  .sites-section .container .section-grid .sites-grid .site-container h3 {
    font-size: 13px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
  }
  .sites-section {
    margin: 150px 0 100px;
  }
  .sites-section .container .section-grid .sites-grid .site-details span {
    font-size: 13px;
  }
  .secondary-section-header h2 {
    margin: 0 15px 25px 0;
  }
}

@media (max-width: 767px) {
  .sites-section {
    margin: 250px 0 100px;
  }
  .sites-section .container {
    width: 375px;
  }
  .section-header h2 {
    text-align: center;
    margin-bottom: 50px;
  }
  .secondary-section-header {
    width: 350px;
  }
  .sites-section .container .section-grid .sites-grid {
    grid-template-columns: repeat(1, 350px);
    grid-template-rows: repeat(3, 175px);
    grid-gap: 60px 0;
  }
  .secondary-section-header h2 {
    margin: 0 15px 0 0;
  }
}
/* End Programming Lines */
/* Start Footer */
.footer {
  padding: 100px 50px;
  background-color: var(--main-color);
  position: relative;
  overflow: hidden;
  border-top: solid 1px var(--primary-bg);
  z-index: 0;
}

.footer::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1005%26quot%3b)' fill='none'%3e%3cpath d='M-154.83 310.03C-21.17 308.79 153.1 164.51 361.16 170.03 569.23 175.55 507.46 552.3 619.16 616.77' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-148.85 457.79C13.48 457.06 165.58 322.94 486.39 323.39 807.21 323.84 944.58 629.93 1121.64 638.42' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-208.97 286.53C-34.27 291.49 104.96 547.31 438.66 549.73 772.37 552.15 923.71 609.12 1086.3 609.18' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-75.05 494.22C103.66 490.63 343.96 253.21 598.17 253.42 852.38 253.63 815.7 581.76 934.78 613.39' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-120.96 152.4C-23.25 154.49 33.89 271.29 246.12 286.8 458.35 302.31 496.59 565.44 613.2 583.15' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1005'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  opacity: 0.2;
  z-index: -1;
}

.footer .footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 50px;
  justify-items: center;
}

.footer .footer-grid .box img {
  width: 100px;
}

.footer .footer-grid .box {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer .footer-grid .box:first-child {
  justify-content: center;
}

.footer .footer-grid .box:first-child {
  grid-row-start: 1;
  grid-row-end: 3;
}

.box-flex ul {
  display: flex;
  margin-top: 25px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.box-flex ul li {
  margin-bottom: 25px;
  margin-right: 10px;
  font-size: 15px;
}

.box-flex ul li a {
  color: var(--primary-bg);
  background-color: var(--second-bg);
  padding: 2px 5px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.box-flex ul li a:hover {
  color: var(--main-color);
  background-color: var(--primary-color);
}

.footer .footer-grid .box h3 {
  font-size: 25px;
  margin-top: 7px;
  font-weight: 600;
}

.footer .footer-grid .box span {
  font-size: 18px;
  margin-top: 5px;
  opacity: 0.7;
}

.footer .social-media-icons {
  display: flex;
  margin-top: 15px;
}

.footer .social-media-icons a {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}

.footer .social-media-icons a:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

.footer .social-media-icons a i {
  font-size: 25px;
}

.footer .social-media-icons a:first-child i {
  color: #4267b2;
}

.footer .social-media-icons a:nth-child(2) i {
  color: #ff0000;
}

.footer .social-media-icons a:nth-child(3) i {
  color: #171515;
}

.footer .social-media-icons a:last-child i {
  color: #7289da;
}

.footer .social-media-icons a:not(:first-child) {
  margin-right: 10px;
}

@media (max-width: 767px) {
  .footer .footer-grid {
    grid-template-columns: repeat(1, auto);
  }
  .footer::before {
    width: 100%;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1005'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1006'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1002'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1003'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1004'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1001'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1007'%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='30' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='30' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='30' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='30' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='30' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='30' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='30' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='30' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='30' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='90' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='90' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='90' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='90' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='90' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='90' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='90' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='90' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='90' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='90' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='150' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='150' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='150' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='150' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='150' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='150' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='150' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='150' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='150' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='150' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='210' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='210' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='210' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='210' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='210' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='210' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='270' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='270' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='270' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='270' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='270' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='270' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='270' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='270' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='270' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='330' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='330' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='330' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='330' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='330' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='330' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='330' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='330' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='330' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='330' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='390' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='390' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='390' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='390' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='390' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='390' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='390' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='390' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='390' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='390' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='450' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='450' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='450' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='450' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='450' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='450' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='450' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='450' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='450' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='510' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='510' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='510' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='510' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='510' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='510' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='510' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='510' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='510' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='510' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='570' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='570' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='570' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='570' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='570' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='630' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='630' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='630' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='630' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='630' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='630' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='630' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='630' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='630' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='630' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='690' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='690' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='690' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='690' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='690' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='690' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='690' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='690' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='690' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='690' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  .box-flex ul {
    justify-content: center;
  }
}
/* End Footer */
