/* Start Global Values */
@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
  position: relative;
  background-color: var(--second-bg);
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --primary-bg: #0e1218;
  --second-bg: #f9f9f9;
  --primary-color: #6495ed;
  --main-color: #ffffff;
  --main-transition: 0.3s;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* End Global Rules */
/* Start bg */
/* Loading */
.loading {
  left: 0;
  top: 0;
  position: absolute;
  animation: disappear 0.3s 0.9s;
  -webkit-animation: disappear 0.3s 0.9s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

@keyframes disappear {
  to {
    opacity: 0;
  }
}

.loading h2 {
  position: absolute;
  z-index: 1;
  font-size: 50px;
  font-weight: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.loading h2::before {
  content: "";
  background-color: var(--primary-color);
  width: 50px;
  height: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
  animation: loading 0.3s infinite alternate ease-in-out;
  -webkit-animation: loading 0.3s infinite alternate ease-in-out;
}

@keyframes loading {
  to {
    right: 150px;
  }
}
/* Visitors Counter */
/* Styles for reset button */
#reset {
  margin-top: 20px;
  background-color: #008cba;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 20px;
  color: white;
  display: none;
}
/* Start Landing */
.main-container {
  animation: appear 0.3s 1s;
  -webkit-animation: appear 0.3s 1s;
  animation-fill-mode: forwards;
}

.landing {
  position: relative;
  height: 10vh;
}

.landing .container {
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 0 0 25px 25px;
  -webkit-border-radius: 0 0 25px 25px;
  -moz-border-radius: 0 0 25px 25px;
  -ms-border-radius: 0 0 25px 25px;
  -o-border-radius: 0 0 25px 25px;
  background-color: var(--primary-color);
  box-shadow: 1px 1px 25px rgb(0, 0, 0, 0.1), -1px -1px 25px rgb(0, 0, 0, 0.1);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  width: 75px;
  height: 75px;
}

.landing .container a {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .container:hover {
  box-shadow: 1px 1px 25px rgb(0, 0, 0, 0.2), -1px -1px 25px rgb(0, 0, 0, 0.2);
}

.landing .container img {
  width: 50px;
}

@media (max-width: 991px) {
  .landing {
    padding: 50px 0 50px;
    height: 29vh;
  }
  .landing .container {
    width: 750px;
    margin-top: -20px;
  }
  .landing img {
    width: 100px;
  }
}

@media (max-width: 767px) {
  .landing .container {
    width: fit-content;
    top: 50px;
    padding: 0 10px;
  }
  .landing .container img {
    width: 40px;
  }
}
/* Start Sites Section */
.sites-section {
  margin: 100px 0 250px;
}

.sites-section .container .section-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 25px;
  justify-items: center;
}

.sites-section .container .section-grid .sites-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-gap: 50px;
  justify-items: center;
}

.section-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 40px 0;
}

.section-header h2:not(:first-child),
.section-header i {
  margin-right: 25px;
}

.section-header h2 a {
  font-size: 40px;
  color: #d0d0d0;
}

.section-header h2:last-child a {
  color: var(--primary-color);
}

.section-header i {
  font-size: 30px;
}

.sites-section .container .section-grid .sites-grid .sites-container:hover {
  box-shadow: 1px 1px 25px rgb(0, 0, 0, 0.03), -1px -1px 25px rgb(0, 0, 0, 0.03);
}

.sites-section .container .section-grid .sites-grid .site-container {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  height: 100%;
  position: relative;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  padding: 25px 5px;
  box-shadow: 1px 1px 25px rgb(0, 0, 0, 0.01), -1px -1px 25px rgb(0, 0, 0, 0.01);
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  width: 100%;
  position: relative;
  z-index: 0;
}

.sites-section .container .section-grid .sites-grid .site-container h3 {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -24px;
  font-size: 20px;
  color: var(--primary-bg);
  background-color: var(--second-bg);
  padding: 5px 7px;
  border-radius: 15px 15px 0 0;
  margin-top: 7px;
  font-weight: 400;
  transition: var(--main-transition) 0.1s;
  -webkit-transition: var(--main-transition) 0.1s;
  -moz-transition: var(--main-transition) 0.1s;
  -ms-transition: var(--main-transition) 0.1s;
  -o-transition: var(--main-transition) 0.1s;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
  z-index: 2;
}

.sites-section .container .section-grid .sites-grid h3 a {
  color: var(--primary-bg);
  transition: var(--main-transition) 0.1s;
  -webkit-transition: var(--main-transition) 0.1s;
  -moz-transition: var(--main-transition) 0.1s;
  -ms-transition: var(--main-transition) 0.1s;
  -o-transition: var(--main-transition) 0.1s;
}

.sites-section .container .section-grid .sites-grid .site-container:hover h3 {
  background-color: var(--primary-color);
}

.sites-section .container .section-grid .sites-grid .site-container:hover h3 a {
  color: var(--main-color);
}

.sites-section .container .section-grid .sites-grid .site-container .site-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to top right,
    #d8e8f2,
    #e4edf6,
    #eff2f9,
    #f8f8fc,
    #ffffff
  );
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: var(--main-transition) ease;
  -webkit-transition: var(--main-transition) ease;
  -moz-transition: var(--main-transition) ease;
  -ms-transition: var(--main-transition) ease;
  -o-transition: var(--main-transition) ease;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 1;
}

.sites-section
  .container
  .section-grid
  .sites-grid
  .site-container:hover
  .site-icon {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.sites-section .container .section-grid .sites-grid .site-icon img {
  width: 80px;
  height: 80px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.sites-section
  .container
  .section-grid
  .sites-grid
  .site-container:hover
  .site-icon
  img {
  height: 50px;
  width: 50px;
}

.sites-section .container .section-grid .sites-grid .site-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.sites-section
  .container
  .section-grid
  .sites-grid
  .site-container:hover
  .site-details {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.sites-section
  .container
  .section-grid
  .sites-grid
  .site-container
  .site-details
  span {
  background-color: var(--second-bg);
  padding: 5px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  font-size: 12px;
  margin-bottom: 7px;
}

.sites-section
  .container
  .section-grid
  .sites-grid
  .site-container
  .site-details
  span {
  margin-right: 10px;
}

.sites-section .container .section-grid .sites-grid .site-details span {
  font-size: 15px;
  color: rgb(14, 18, 24, 0.7);
  line-height: 20px;
}

.site-tag .tag-container {
  position: absolute;
  z-index: 50;
  top: calc(100% + 35px);
  left: calc(50% + 25px);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-tag .prog-tag {
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 50;
  color: var(--main-color);
  background-color: #d2686e;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(100% + 20px);
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.site-tag .graphic-tag,
.site-tag .prog2-tag {
  width: fit-content;
  height: fit-content;
  transform: translate(-50%, -50%);
  z-index: 50;
  color: var(--main-color);
  background-color: #d2686e;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-tag .graphic-tag {
  background-color: var(--primary-color);
}

.site-tag .prog-tag span,
.site-tag .graphic-tag span,
.site-tag .prog2-tag span {
  font-size: 10px;
}

.site-tag .prog-tag span:last-child,
.site-tag .graphic-tag span:last-child,
.site-tag .prog2-tag span:last-child {
  margin-right: 5px;
}

@media (min-width: 1200px) {
  .sites-section .container .section-grid .sites-grid h3 {
    bottom: -15px;
  }
}

@media (max-width: 1199px) {
  .sites-section .container .section-grid .sites-grid h3 {
    font-size: 15px;
    bottom: -13px;
  }
}

@media (max-width: 991px) {
  .sites-section .container .section-grid .sites-grid .site-container h3 {
    font-size: 13px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
  }
  .sites-section {
    margin: 150px 0 100px;
  }
  .sites-section .container .section-grid .sites-grid .site-details span {
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  .sites-section {
    margin: 250px 0 100px;
  }
  .sites-section .container {
    width: 375px;
  }
  .section-header {
    justify-content: center;
  }
  .section-header h2 a {
    font-size: 25px;
  }
  .section-header i {
    font-size: 20px;
  }
  .sites-section .container .section-grid .sites-grid {
    grid-template-columns: repeat(1, 350px);
    grid-template-rows: repeat(6, 175px);
    grid-gap: 60px 0;
  }
}
/* End Programming Lines */
/* Start Footer */
.footer {
  padding: 100px 50px;
  background-color: var(--main-color);
  position: relative;
  overflow: hidden;
  border-top: solid 1px var(--primary-bg);
  z-index: 0;
}

.footer::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1005%26quot%3b)' fill='none'%3e%3cpath d='M-154.83 310.03C-21.17 308.79 153.1 164.51 361.16 170.03 569.23 175.55 507.46 552.3 619.16 616.77' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-148.85 457.79C13.48 457.06 165.58 322.94 486.39 323.39 807.21 323.84 944.58 629.93 1121.64 638.42' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-208.97 286.53C-34.27 291.49 104.96 547.31 438.66 549.73 772.37 552.15 923.71 609.12 1086.3 609.18' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-75.05 494.22C103.66 490.63 343.96 253.21 598.17 253.42 852.38 253.63 815.7 581.76 934.78 613.39' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-120.96 152.4C-23.25 154.49 33.89 271.29 246.12 286.8 458.35 302.31 496.59 565.44 613.2 583.15' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1005'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  opacity: 0.2;
  z-index: -1;
}

.footer .footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 50px;
  justify-items: center;
}

.footer .footer-grid .box img {
  width: 100px;
}

.footer .footer-grid .box {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer .footer-grid .box:first-child {
  justify-content: center;
}

.footer .footer-grid .box:first-child {
  grid-row-start: 1;
  grid-row-end: 3;
}

.box-flex ul {
  display: flex;
  margin-top: 25px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.box-flex ul li {
  margin-bottom: 25px;
  margin-right: 10px;
  font-size: 15px;
}

.box-flex ul li a {
  color: var(--primary-bg);
  background-color: var(--second-bg);
  padding: 2px 5px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.box-flex ul li a:hover {
  color: var(--main-color);
  background-color: var(--primary-color);
}

.footer .footer-grid .box h3 {
  font-size: 25px;
  margin-top: 7px;
  font-weight: 600;
}

.footer .footer-grid .box span {
  font-size: 18px;
  margin-top: 5px;
  opacity: 0.7;
}

.a2a_kit a {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}

.a2a_kit a:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

.footer .footer-grid .box:first-child span:last-child {
  margin-top: 7px;
  font-size: 15px;
}

@media (max-width: 767px) {
  .footer .footer-grid {
    grid-template-columns: repeat(1, auto);
  }
  .footer::before {
    width: 100%;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1005'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1006'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1002'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1003'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1004'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1001'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1007'%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='30' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='30' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='30' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='30' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='30' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='30' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='30' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='30' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='30' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='90' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='90' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='90' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='90' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='90' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='90' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='90' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='90' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='90' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='90' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='150' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='150' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='150' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='150' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='150' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='150' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='150' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='150' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='150' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='150' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='210' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='210' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='210' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='210' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='210' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='210' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='270' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='270' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='270' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='270' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='270' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='270' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='270' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='270' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='270' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='330' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='330' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='330' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='330' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='330' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='330' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='330' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='330' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='330' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='330' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='390' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='390' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='390' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='390' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='390' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='390' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='390' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='390' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='390' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='390' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='450' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='450' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='450' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='450' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='450' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='450' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='450' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='450' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='450' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='510' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='510' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='510' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='510' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='510' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='510' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='510' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='510' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='510' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='510' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='570' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='570' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='570' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='570' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='570' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='630' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='630' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='630' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='630' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='630' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='630' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='630' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='630' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='630' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='630' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='690' y='30' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='690' y='90' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='690' y='150' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='690' y='210' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='690' y='270' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='690' y='330' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='690' y='390' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='690' y='450' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='690' y='510' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='690' y='570' stroke='rgba(100%2c 149%2c 237%2c 1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  .box-flex ul {
    justify-content: center;
  }
}
/* End Footer */
/* Start News */
.news {
  margin: 50px 0 50px 0;
  position: relative;
}

.news h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 25px;
}

.news .container {
  height: 300px;
  width: 700px;
  overflow: auto;
  background-color: #333;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 15px 25px;
  box-shadow: 1px 1px 25px rgb(0, 0, 0, 0.2), -1px -1px 25px rgb(0, 0, 0, 0.2);
}

.news .container h3 {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.news .container p {
  color: var(--main-color);
  font-size: 13px;
  font-weight: 400;
}

.news .container p:not(:last-child) {
  margin-bottom: 7px;
}

.news .container p span.site-added-news-colored {
  color: #d0d8ff;
}

@media (max-width: 767px) {
  .news {
    margin: 0;
  }

  .news .container {
    width: 350px;
  }
  .news .container p {
    font: 10px;
    line-height: 20px;
  }
}
/* End News */
/* Start Contact */
.contact {
  margin: 100px 0;
}

.contact h2 {
  text-align: center;
  font-size: 40px;
}

.contact p {
  text-align: center;
  margin: 10px 0 25px;
}

.contact .container {
  display: flex;
  justify-content: center;
}

.contact .container form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}

.contact .container form label {
  font-size: 22px;
}

.contact .container form label:not(:last-child) {
  margin-bottom: 25px;
}

.contact .container form label input {
  outline: none;
  border: none;
  background-color: #eee;
  height: 60px;
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  margin-top: 10px;
  font-size: 18px;
}

.contact .container form label textarea {
  outline: none;
  border: none;
  background-color: #eee;
  min-height: 100px;
  max-height: 200px;
  min-width: 400px;
  max-width: 400px;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  margin-top: 10px;
  font-size: 18px;
}

.contact .container form label input:focus,
.contact .container form label textarea:focus {
  outline: var(--primary-color) solid 2px;
}

.contact .container form button {
  width: fit-content;
  background-color: transparent;
  border: solid var(--primary-color) 2px;
  color: var(--primary-bg);
  padding: 15px 25px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.contact .container form button:hover {
  background-color: var(--primary-color);
  border: solid var(--primary-color) 2px;
  color: var(--main-color);
}

@media (max-width: 767px) {
  .contact {
    margin: 0;
  }

  .contact .container {
    width: 375px;
  }
  .contact .container form label input,
  .contact .container form label textarea {
    min-width: 350px;
    width: 350px;
  }
}
/* End Contact */
