/* Start Global Values */
@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
  position: relative;
  background-color: var(--second-bg);
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --primary-bg: #0e1218;
  --second-bg: #f9f9f9;
  --primary-color: #6495ed;
  --main-color: #ffffff;
  --main-transition: 0.3s;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* End Global Rules */
/* Start Landing */
.main-container {
  animation: appear 0.3s 1s;
  -webkit-animation: appear 0.3s 1s;
  animation-fill-mode: forwards;
}

.landing {
  position: relative;
  height: 10vh;
}

.landing .container {
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 0 0 25px 25px;
  -webkit-border-radius: 0 0 25px 25px;
  -moz-border-radius: 0 0 25px 25px;
  -ms-border-radius: 0 0 25px 25px;
  -o-border-radius: 0 0 25px 25px;
  background-color: var(--primary-color);
  box-shadow: 1px 1px 25px rgb(0, 0, 0, 0.1), -1px -1px 25px rgb(0, 0, 0, 0.1);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  width: 75px;
  height: 75px;
}

.landing .container a {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .container:hover {
  box-shadow: 1px 1px 25px rgb(0, 0, 0, 0.2), -1px -1px 25px rgb(0, 0, 0, 0.2);
}

.landing .container img {
  width: 50px;
}

@media (max-width: 991px) {
  .landing {
    padding: 50px 0 50px;
    height: 29vh;
  }
  .landing .container {
    width: 750px;
    margin-top: -20px;
  }
  .landing img {
    width: 100px;
  }
}

@media (max-width: 767px) {
  .landing .container {
    width: fit-content;
    top: 50px;
    padding: 0 10px;
  }
  .landing .container img {
    width: 40px;
  }
}
/* End Landing */
/* Start News */
.news {
  margin: 50px 0 50px 0;
  position: relative;
}

.news h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 25px;
}

.news .container {
  height: 300px;
  width: 700px;
  overflow: auto;
  background-color: #333;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 15px 25px;
  box-shadow: 1px 1px 25px rgb(0, 0, 0, 0.2), -1px -1px 25px rgb(0, 0, 0, 0.2);
}

.news .container h3 {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.news .container p {
  color: var(--main-color);
  font-size: 13px;
  font-weight: 400;
}

.news .container p:not(:last-child) {
  margin-bottom: 7px;
}

.news .container p span.site-added-news-colored {
  color: #d0d8ff;
}

@media (max-width: 767px) {
  .news {
    margin: 0;
  }

  .news .container {
    width: 350px;
  }
  .news .container p {
    font: 10px;
    line-height: 20px;
  }
}
/* End News */
