/* Start Global Values */
@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
  position: relative;
  background-color: var(--second-bg);
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --primary-bg: #0e1218;
  --second-bg: #f9f9f9;
  --primary-color: #6495ed;
  --main-color: #ffffff;
  --main-transition: 0.3s;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* End Global Rules */
/* Loading */
.loading {
  left: 0;
  top: 0;
  position: absolute;
  animation: disappear 0.3s 0.9s;
  -webkit-animation: disappear 0.3s 0.9s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

@keyframes disappear {
  to {
    opacity: 0;
  }
}

.loading h2 {
  position: absolute;
  z-index: 1;
  font-size: 50px;
  font-weight: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.loading h2::before {
  content: "";
  background-color: var(--primary-color);
  width: 50px;
  height: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
  animation: loading 0.3s infinite alternate ease-in-out;
  -webkit-animation: loading 0.3s infinite alternate ease-in-out;
}

@keyframes loading {
  to {
    right: 150px;
  }
}

/* Start Landing */
.main-container {
  animation: appear 0.3s 1s;
  -webkit-animation: appear 0.3s 1s;
  animation-fill-mode: forwards;
  /* opacity: 0; */
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

.landing {
  position: relative;
  height: 10vh;
}

.landing .container {
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 0 0 25px 25px;
  -webkit-border-radius: 0 0 25px 25px;
  -moz-border-radius: 0 0 25px 25px;
  -ms-border-radius: 0 0 25px 25px;
  -o-border-radius: 0 0 25px 25px;
  background-color: var(--primary-color);
  box-shadow: 1px 1px 25px rgb(0, 0, 0, 0.1), -1px -1px 25px rgb(0, 0, 0, 0.1);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  width: 75px;
  height: 75px;
}

.landing .container a {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .container:hover {
  box-shadow: 1px 1px 25px rgb(0, 0, 0, 0.2), -1px -1px 25px rgb(0, 0, 0, 0.2);
}

.landing .container img {
  width: 50px;
}

@media (max-width: 991px) {
  .landing {
    padding: 50px 0 50px;
    height: 29vh;
  }
  .landing .container {
    width: 750px;
    margin-top: -20px;
  }
  .landing img {
    width: 100px;
  }
}

@media (max-width: 767px) {
  .landing .container {
    width: fit-content;
    top: 50px;
    padding: 0 10px;
  }
  .landing .container img {
    width: 40px;
  }
}
/* End Landing */
/* Start Contact */
.contact {
  margin: 100px 0;
}

.contact h2 {
  text-align: center;
  font-size: 40px;
}

.contact p {
  text-align: center;
  margin: 10px 0 25px;
}

.contact .container {
  display: flex;
  justify-content: center;
}

.contact .container form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}

.contact .container form label {
  font-size: 22px;
}

.contact .container form label:not(:last-child) {
  margin-bottom: 25px;
}

.contact .container form label input {
  outline: none;
  border: none;
  background-color: #eee;
  height: 60px;
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  margin-top: 10px;
  font-size: 18px;
}

.contact .container form label textarea {
  outline: none;
  border: none;
  background-color: #eee;
  min-height: 100px;
  max-height: 200px;
  min-width: 400px;
  max-width: 400px;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  margin-top: 10px;
  font-size: 18px;
}

.contact .container form label input:focus,
.contact .container form label textarea:focus {
  outline: var(--primary-color) solid 2px;
}

.contact .container form button {
  width: fit-content;
  background-color: transparent;
  border: solid var(--primary-color) 2px;
  color: var(--primary-bg);
  padding: 15px 25px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.contact .container form button:hover {
  background-color: var(--primary-color);
  border: solid var(--primary-color) 2px;
  color: var(--main-color);
}

@media (max-width: 767px) {
  .contact {
    margin: 0;
  }

  .contact .container {
    width: 375px;
  }
  .contact .container form label input,
  .contact .container form label textarea {
    min-width: 350px;
    width: 350px;
  }
}
/* End Contact */
